A4/state_machine_definition
{
  "Comment": "A description of my state machine",
  "StartAt": "TypeChecker",
  "States": {
    "TypeChecker": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "OutputPath": "$.Payload",
      "Parameters": {
        "Payload.$": "$",
        "FunctionName": "arn:aws:lambda:us-east-1:638997125533:function:TypeCheckService:$LATEST"
      },
      "Retry": [
        {
          "ErrorEquals": [
            "Lambda.ServiceException",
            "Lambda.AWSLambdaException",
            "Lambda.SdkClientException",
            "Lambda.TooManyRequestsException"
          ],
          "IntervalSeconds": 2,
          "MaxAttempts": 6,
          "BackoffRate": 2
        }
      ],
      "Next": "mqttbroker"
    },
    "mqttbroker": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.type",
          "StringEquals": "CONNECT",
          "Next": "SQS SendConnect"
        },
        {
          "Variable": "$.type",
          "StringEquals": "SUBSCRIBE",
          "Next": "SQS SendSubscribe"
        },
        {
          "Variable": "$.type",
          "StringEquals": "PUBLISH",
          "Next": "SQS SendPublish"
        }
      ]
    },
    "SQS SendConnect": {
      "Type": "Task",
      "Resource": "arn:aws:states:::sqs:sendMessage",
      "Parameters": {
        "MessageBody.$": "$",
        "QueueUrl": "https://sqs.us-east-1.amazonaws.com/638997125533/ConnectQueue"
      },
      "End": true
    },
    "SQS SendSubscribe": {
      "Type": "Task",
      "Resource": "arn:aws:states:::sqs:sendMessage",
      "Parameters": {
        "MessageBody.$": "$",
        "QueueUrl": "https://sqs.us-east-1.amazonaws.com/638997125533/SubscribeQueue"
      },
      "End": true
    },
    "SQS SendPublish": {
      "Type": "Task",
      "Resource": "arn:aws:states:::sqs:sendMessage",
      "Parameters": {
        "MessageBody.$": "$",
        "QueueUrl": "https://sqs.us-east-1.amazonaws.com/638997125533/PublishQueue"
      },
      "End": true
    }
  }
}